@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background-color: #0d0d0d;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
